
$fuente-principal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fuente-secundaria: 'Sansita Swashed', cursive;

$grosorfuente:(

"grueso":700,

"mediano":500,

"regular":400
)
