@import "colores";
@import "fuentes";
@import "mixins";

header{
    .header__logo{
        display: flex;
        justify-content: center;
        max-height: 150px;
        max-width: 250px;
        overflow: hidden;
        margin-bottom: 10px;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    
    }
}

#logo{
    @include sizes(250px, 150px);
}

.nav-item{

    .nav-link{
        letter-spacing: 1px;
        text-decoration: none;
        position: relative;

        &:after{

            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: $color-secundario;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.2s ease-in-out;

        }
    }
}

.nav-link:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
