
@import "colores";
@import "fuentes";
@import "mixins";

.sobreMi__container{
    height: 1200px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    justify-content: stretch;
    justify-items: center;
    align-content: center;
    width: auto;
    background-image: linear-gradient(to top, #f9abff, black );
}
.sobreMi__imagenes{
    margin-top: 50px;
    align-items: center;
   
}
.sobreMi__imagen {
    align-items: center;
    justify-self: center;
    max-width: 800px;
    max-height: 600px;
    
    border-radius: 60px;
}

.sobreMi__textos{
    
    align-self: center;
    justify-self: center;
    margin-bottom: 300px;
    
}
.sobreMi__texto {
   
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-style: italic;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
}